/* Slide in and off, of the bottom-right wave corner */

@keyframes displayWaveOn {

    from{
        transform: rotate(-55deg)  scale(1.3) skew(20deg, 45deg) translateY(800px);
    }
    to{
        transform: rotate(-55deg)  scale(1.3) skew(20deg, 45deg) translateY(20px);
        
    }
}

@keyframes displayWaveOff {

    from{
        transform: rotate(-55deg)  scale(1.3) skew(20deg, 45deg) translateY(20px);
    }
    to{
        transform: rotate(-55deg)  scale(1.3) skew(20deg, 45deg) translateY(800px);
    }
}


@keyframes displayWaveOnMobile {

    from{
       transform: translateY(400px);
    }
    to{
        transform: translateY(0px) scaleX(3) scaleY(1.2);
    }
}

@keyframes displayWaveOffMobile {

    from{
       transform: translateY(0px) scaleX(3) scaleY(1.2);
    }
    to{
        transform: translateY(400px);
    }
}



.displayWaveOn{
   
    animation: displayWaveOn 4s forwards  ;
    
}

.displayWaveOff{

    animation: displayWaveOff 5s forwards;
}
@media screen and (max-width: 600px) {
    .displayWaveOn {
      animation: displayWaveOnMobile 4s forwards;
    }
    .displayWaveOff{
        animation: displayWaveOffMobile 4s forwards;
    }
    
}

/* Slide In and off, of the flowing wave panel */

@keyframes waveFlowOn {
    
    from{
        height: 100%;    
    }
    to{
        height: 0%;    
    }
}

@keyframes waveFlowOff {

    from{
        height: 0%;
    }
    
    to{
        height: 100%;
    }
}

.waveFlowOn{
   
    animation: waveFlowOn 2s forwards ease-out;
}

.waveFlowOff{
    
    animation: waveFlowOff 2s forwards ease-out;
}

/* Display ON/OFF for stats bars and Opacity on graph informations */

@keyframes animBarOff {
    
    from{
        height: 100%;    
    }
    to{
        height: 0%;    
    }
}

@keyframes animBarOn {

    from{
        height: 0%;
    }
    
    to{
        height: 100%;
    }
}

@keyframes animGraphOpacity {

    from{
        opacity: 0.1;
    }
    
    to{
        opacity: 0.7;
    }
}

.animBarOff{
   
    animation: animBarOff 3s forwards ease-out;  
}

.animBarOn{
    
    animation: animBarOn 2s forwards ease-out;
}

.animGraphOpacity{

    animation: animGraphOpacity 2s forwards;
}


/* Project info slide ON/OFF */

@keyframes projectInfoOn {

    from{
        opacity: 0;
        transform: translateX(-50px);
    }
    
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes projectInfoOff {

    from{
        opacity: 1;
        transform: translateX(0px);
    }
    
    to{
        opacity: 0;
        transform: translateX(-50px);
    }
}

.projectInfoOn{


    animation: projectInfoOn 3s forwards;

}

.projectInfoOff{


    animation: projectInfoOff 3s forwards;

}


/* Images display */

@keyframes imageDisplayOn {

    from{
        height: 0;
    }
    
    to{
        height: 100%;
    }
}

@keyframes imageDisplayOff {

    from{
        height: 100%;
        transform: translateY(0px);
    }
    
    to{
        height: 0;
        transform: translateY(-30px);
    }
}

.imgDisplayOn{

    animation: imageDisplayOn 3s forwards;
}

.imgDisplayOff{

    animation: imageDisplayOff 3s forwards;
}



/* Neon flashing ON/OFF */

@keyframes neonFlashingOn {

    from{ opacity: 0; }
    10%{ opacity: 0; }
    15%{ opacity: 1; }
    20%{ opacity: 0; }
    25%{ opacity: 1; }
    30%{ opacity: 0; }
    32%{ opacity: 1; }
    40%{ opacity: 1; }
    45%{ opacity: 0; }
    to{ opacity: 1; }
}

.neonFlashOn{

    animation: neonFlashingOn 5s;
}

.neonFlashOff{

    display: none;
}

@keyframes neonFlashing2On {

    from{ opacity: 0; }
    10%{ opacity: 0; }
    15%{ opacity: 0.1; }
    20%{ opacity: 0; }
    25%{ opacity: 0.1; }
    30%{ opacity: 0; }
    32%{ opacity: 0.1; }
    40%{ opacity: 0.1; }
    45%{ opacity: 0; }
    to{ opacity: 0.1; }
}

.neonFlash2On{

    animation: neonFlashing2On 5s;
}

.neonFlash2Off{

    display: none;
}


@keyframes neonFlashing3On {

    from{ opacity: 0; }
    10%{ opacity: 0; }
    15%{ opacity: 0.05; }
    20%{ opacity: 0; }
    25%{ opacity: 0.05; }
    30%{ opacity: 0; }
    32%{ opacity: 0.05; }
    40%{ opacity: 0.05; }
    45%{ opacity: 0; }
    to{ opacity: 0.05; }
}

.neonFlash3On{

    animation: neonFlashing3On 5s;
}

.neonFlash3Off{

    display: none;
}



/* Phone Moving ON/OFF */




@keyframes phoneMoveOn {

    from{
        transform: rotate(-10deg); 
    }

    50%{
        transform: rotate(10deg);
    }
    
    to{
        transform: rotate(-10deg);
    }
}



.phoneMoveOn{


    animation: phoneMoveOn 6s infinite;


}